@{
    ViewBag.Title = "Сведения";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    г. Иваново,
	ул. Наговицыной-Искрянистовой, 6.
	Obucharium: курсы по C#.
</address>

<address>
    <strong>Слушатель:</strong>   <a href="https://github.com/atrutnev">Александр Трутнев</a><br />
</address>