@model PhoneBook_WebInterface.Models.CityView

@{
    ViewBag.Title = "Удаление города";
}

<h2>Удаление города</h2>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <h4>Город</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Список городов", "Index")
        </div>
    }
</div>
